<script
  defer
  src="https://cdn.jsdelivr.net/npm/alpinejs@3.15.2/dist/cdn.min.js"
></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% csrf_token %}
<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let cookie of cookies) {
        cookie = cookie.trim();
        if (cookie.startsWith(name + "=")) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  const csrftoken = getCookie("csrftoken");
  const api = axios.create({
    headers: {
      Accept: "application/json",
      "Content-Type": "application/json",
    },
    withCredentials: true,
  });
  api.defaults.headers.common["X-CSRFToken"] = csrftoken;
  function pr(value, title) {
    console.log(`<<<${title ?? ""}>>>`, value, "");
    return value;
  }
</script>
