<header class="bg-white shadow-sm">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <!--prettier-ignore-->
      {% include "partials/brand.html" %}
      {% include "partials/desktop-nav.html" %}
      <div class="flex items-center gap-3">
        {% include "partials/auth-buttons.html" %}
        <div class="hidden md:inline-block">
          {% include "partials/cart-icon.html" %}
        </div>
        {% include "partials/mobile-menu.html" %}
      </div>
    </div>
  </div>
</header>
